@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo_image {
  width: 322px;
  height: 83px !important;
  object-fit: cover;
}

.banner_bg {
  background-image: url('/banner.png') !important;
  border-radius: '8px';
  background-position: center end;
  background-size: cover;
  background-repeat: no-repeat !important;
  padding: 96px 0 36px 0;
  width: 100%;
}

.text_opacity {
  opacity: 1 !important;
}

.divider_design {
  height: 48px;
  width: 1px;
  background-color: #cfcfd0;
}

@media(max-width:768px) {
  .divider_design {
    display: none !important;
  }
}


.prompt-light {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.prompt-regular {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-medium {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.prompt-semibold {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.prompt-bold {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.clinic_search select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.clinic_search option {
  padding: 10px;

}

.sort_by_select select:focus-visible {
  border: 1px solid #cfcfd0 !important;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input_search {
  padding: 0px 8px;
  border: none;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #ffffff;
  color: #1e1f26;
  font-size: 14px;
  font-family: Prompt;
  font-weight: 300;
  line-height: 22px;
  outline: none;
  height: 42px;
  width: 100%;
  margin-top: 4px;
  padding-left: 40px;
}

.input_search:focus {
  border: 1px solid #03ffff;
}

.result_details p {
  color: #707071;
  font-size: 14px;
  line-height: 22px;
}

.tag_button {
  border: 1px solid #1e1f26;
  border-radius: 100px;
  font-size: 12px;
  color: #1e1f26;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  box-sizing: border-box;
  height: 30px;
  padding: 0 15px;
}


a.page-link.disabled {
  pointer-events: none;
  color: #ccc !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.search_container ::-webkit-scrollbar {
  width: 4px;
}

.search_container ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.search_container ::-webkit-scrollbar-thumb {
  background: #888;
}

.search_container ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.active-border::after {
  position: absolute;
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background-color: #1e1f26;
  bottom: -2px;

}


.search_container {
  position: sticky;
  width: 100%;
  max-height: 800px;
  height: 100%;
  z-index: 10;
  top: 110px;
  overflow-y: scroll;
}

.tooltip {
  position: relative;
  width: max-content;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  /* visibility: hidden; */
  /* padding: 5px; */
  border-radius: 5px;
}

.tooltip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent;
}



.react-player__preview {
  display: none;
}

/* Position your custom play icon */
.react-player__preview-inner {
  position: relative;
}

.custom-play-icon {
  position: absolute;
  top: 90%;
  left: 94%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.react-player video {
  border-radius: 24px !important;
}

.social_video .react-player video {
  height: 231px !important;
  border-radius: 24px !important;
}

.social_video {
  position: relative;
}

.social_video .custom-play-icon1 {
  position: absolute;
  top: 55%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
}





/* slick-next */
.clinic_card .slick-next {
  /* background-color: black !important; */
  display: none !important;

}

.clinic_card .slick-prev {
  /* background-color: red !important; */
  display: none !important;
}

.slick-next {
  background-color: black !important;
  top: -40% !important;
  right: 19px !important;
}

.slick-prev {
  background-color: red !important;
}

.slick-prev {
  left: 79% !important;
  top: -40% !important;
}

.hover_image {
  width: 100%;
  height: auto;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 25px;
}

.hover_image:hover img {
  transform: scale(1.06);
  transition: 0.5s ease-in-out;

}

.modal-box {
  background-color: white;
  width: unset;
  max-width: unset;
}

.heart-icon {
  fill: #FFFFFF;
  transition: fill 0.3s ease;
  width: 17px !important;
  height: 17px !important;
  cursor: pointer;
}

.heart-icon.favorited {
  fill: rgb(221, 42,
      123);
}

.heart-icon:hover,
.heart-icon:active {
  fill: rgb(221, 42,
      123) !important;
}

/* photos slider */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.swiper-pagination-fraction {
  left: 93% !important;
  bottom: 20px !important;
  color: white !important;
  background-color: #1e1f26;
  border-radius: 4px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 16px;
  width: 62px !important;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallary_slide .slick-slide {
  width: 280px !important;
  margin-right: 32px !important;
}

.gallary_slide .slick-list {
  margin: 0 37px;
}

.gallary_slide .slick-slide:nth-last-child(-n+4) {
  margin-right: 0 !important;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-1fdsijx-ValueContainer {
  align-items: start;
  padding: 0 !important;
}

.rdp-month:last-child {
  background-color: white !important;
  padding: 17px !important;
  border-radius: 16px !important;
  border: 1px solid #e1e1e1 !important;
}

.rdp {
  margin: 0 !important;
}